{% extends "base.html" %}



{% block title %}FODA Personal{% endblock %}



{% block content %}
    <div class="foda-header">
        <h1>FODA: [Jonathan Plaza]</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>El mejor en todo lo que se hace</li>
                <li>Responsabele y amable y guapo</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Aprendizaje veloz/li>
                <li>Mucho mas concocimiento de programacion</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>Ser muy egocientrico</li>
                <li>Ver mucho tiktok</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>Falta de empleo</li>
                <li>Mas ingenieros en progreso</li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}