{% extends "base.html" %}



{% block title %}FODA Personal{% endblock %}



{% block content %}
    <div class="foda-header">
        <h1>FODA: [José Soto]</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>Puedo definir prioridades con facilidad</li>
                <li>Soy bueno en matematicas</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Tendencia de mercado...</li>
                <li>Posibilidad de aprendizaje...</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>Procrastino con facilidad</li>
                <li>Suelo dejar las cosas a ultimo minuto</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>El mercado esta muy saturado</li>
                <li>Competencia</li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}