{% extends "base.html" %}



{% block title %}FODA Personal{% endblock %}



{% block content %}
    <div class="foda-header">
        <h1>FODA: [Luis Luna]</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>Cuando algo me gusta, me vuelvo el mejor</li>
                <li>Persistencia</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Sigo una buena carrera que me puede abrir muchos campos de especialización para poder trabajar</li>
                <li>Aprender a programar</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>La Procastinación es una debilidad mía</li>
                <li>Ser demasiado confiado conmigo y con todas las personas</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>Malos gobiernos que hagan al país, un lugar donde no haya buena calidad de vida</li>
                <li>Otras personas más preparadas</li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}