<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FODA Mateo cobo{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav>
        <div class="nav-content">
            <a href="/" class="brand">Ingeniería de Sistemas de Información</a>
            <span class="semester">6to Semestre</span>
        </div>
    </nav>

    <div class="container">
    <div class="foda-header">
        <h1>FODA: MATEO COBO</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>Responsabilidad y compromiso con las tareas.</li>
        <li>Razonamiento lógico y resolución de problemas.</li>
        <li>Buen trabajo en equipo y comunicación.</li>
        <li>Curiosidad para aprender nuevas tecnologías.</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Proyectos colaborativos dentro del curso.</li>
      <li>Cursos y certificaciones gratuitas en línea.</li>
      <li>Mentoría disponible por parte de los docentes.</li>
      <li>Participacion en cocncursos de porgramacion.</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>Poca experiencia práctica en DevOps.</li>
      <li>Gran irresponsabilidad con los tiempos.</li>
      <li>Necesidad de mejorar pruebas automatizadas.</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>Alta competencia en el mercado tecnológico.</li>
      <li>Rápida obsolescencia de tecnologías.</li>
      <li>Plazos de entrega ajustados que aumentan el estrés.</li>
      <li>Mercado inestable en el ambito nacional </li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
    </div>
</body>
</html>