{% extends "base.html" %}

{% block title %}FODA Personal{% endblock %}

{% block content %}
    <div class="foda-header">
        <h1>FODA: Washignton Adrian Lumbi Sanchez</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>Estudioso</li>
                <li>Inteligente</li>
                <li>Casi ingeniero</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>ingles</li>
                <li>curso para centificarce</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>vago.</li>
                <li>dejar para el ultimo como buen ecuatoriano</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>esta fuerte la competencia en el mercado laboral</li>
                <li>el limitarse en un idioma es una amenaza para mi bienestar</li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}